# Userbot
API_ID=
API_HASH=
PHONE_NUMBER=
PASSWORD=

# Bot
BOT_TOKEN=
CHANNEL_ID=
STICKERS_CHANNEL_ID=
STICKERS_CHANNEL_USERNAME=

# PostgreSQL
POSTGRES_USER=gifts-tracker
POSTGRES_PASSWORD=your_secure_password
POSTGRES_DB=gifts-tracker-db
DATABASE_URL=postgresql+psycopg://gifts-tracker:your_secure_password@db:5432/gifts-tracker-db

# Polling interval in seconds
INTERVAL=15

# Emoji pack
EMOJI_PACK_SHORT_NAME=GiftsTrackerGifts
EMOJI_PACK_TITLE=Gifts by @GiftsTracker
