# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
# Virtual Environment
.venv/
venv/

# Environment & Secrets
.env
.env.*

# Session files (Pyrogram)
*.session
*.session-journal
session/

# IDE
.vscode/
.idea/
.DS_Store

# Logs
logs/
*.log

# Project Specific
*.tmp
*.cache
Thumbs.db
unknown_errors.txt
tests/
docker-compose.*.yml
